/**
 * Footer
 */

footer {
    align-items: center;
    background-color: #fff;
    height: 60px;
    border-top: 1px solid #ccc;
    bottom: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
}
